body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;

}
/* #backgrond {
    background:url('../img/home.jpg');
    position: relative;
    height: 700px;
}
 */
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #484989;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#e2ea3d;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.layer {
    background-color:rgba(0, 0,0,0.6);;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.type {
    font-size: 1.5em;
    color: #fff;
}
#home{
    margin: 5em;
    padding: 2em;

}
.home-text {
    margin-top: inherit;
    padding-top: inherit;
    color: #fff;
    font-size: 3.7em;
}
strong{
    color: #E2EA3D;
    font-weight: 700;
}
em{
    color: #484989;
    font-weight: 700;

}