body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;

}
/* navbar style */
nav{
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all .5s;
}
.custom-nav{
    background-color: transparent;
}
.navbar-brand{
    padding: 0 1.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600; 
}
.navbar-brand img {
    max-height: 50px;
}
 .icons{
     position: relative;
     margin-right: 2em;
} 
.icons i{
    color: #f8f8f8;
    margin: 0 5px;
    font-size: 1.1em;
    transition: all .6s;
}
.icons:before {
    content: '';
    top: -1px;
    left: -4px;
    height: 26px;
    background-color: #f8f8f8;
    width: 1px;
    position: absolute;
}
.icons a i.f:hover{
    color: 	#3b5998 !important;
}
.icons a i.t:hover{
    color: #55acee !important	;
}
.icons a i.l:hover{
    color: #0077b5	!important	;
}
.icons a i.i:hover{
    color: transparent !important;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)!important;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)!important;
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)!important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}

.nav-item a{
    color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0 5px;
}
.nav-item a:hover{
    color: #f9bd4fe1 !important;
    transition: all .6s;
}
/* end navbar style */
/* //////////////////////////////////////////// */
/* home  stlye */
/* carousel */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    position: relative;
  }
.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
  background:rgba(0,0,0,0.6);
}
.carousel-item img{
    max-width: 100%;
}
/* box */
.jumbotron{
    margin: 6em 10em;
    padding: 5em 8em;
    align-content: center center;
    background-color: transparent;
    color: #fff;
    text-align: center;
    z-index: 15615;
    position: absolute;
}
.btn-color{
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    
}
a.btn-color:hover{
    background-color: #f9bd4fe1;
    color: #f8f8f8;
    transition: all .6s;
}

/* end home style */
/* //////////////////////////////// */
section{
    border-top: 1px solid #eee;
    box-shadow: 5px 5px 15px 0 rgba(31, 31, 31, 0.07);
}
/* about section */
#about{
    text-align: center;
    padding: 50px;
}
h6.about-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.01em;
}
#about p{
    font-size: 24px;
    margin: 20px 0;
    color: #4D5B60;
    font-weight: 300;
    
}
span.element,
span.we{
    color: #f9bd4fe1;
}
/* //////////////////////////////////// */
/* services section */
#work{
    height: 800px;
    background-color: #f5f3e4ea;
}